Repository luigi-project/luigi, pull requests merged in 2018-10, with the labels that each got.

#130 Add minor improvements to the README.md document
  README.md
Labels: WIP

#132 Fix npm audit issues
  core/package-lock.json
  core/package.json
Labels: area/luigi, area/security, bug

#120 Fix fonts bundling in luigi core
  core/.gitignore
  core/examples/luigi-sample-angular/angular.json
  core/examples/luigi-sample-angular/package-lock.json
  core/examples/luigi-sample-angular/package.json
  core/examples/luigi-sample-angular/src/index.html
  core/examples/luigi-sample-angular/src/logout.html
  core/examples/luigi-sample-vue/package-lock.json
  core/examples/luigi-sample-vue/package.json
  core/package-lock.json
  core/package.json
  core/src/App.html
  core/src/static.css
  core/webpack.config.js
  docs/application-setup.md
Labels: area/luigi, bug

#116 Change per-component backdrop to global one
  core/examples/luigi-sample-vue/src/views/projects/components/modal.vue
  core/src/App.html
  core/src/Backdrop.html
  core/src/LeftNav.html
  core/src/TopNav.html
Labels: area/luigi, bug

#121 Navigation node as a link to an external page
  core/examples/luigi-sample-angular/package-lock.json
  core/examples/luigi-sample-angular/src/app/overview/overview.component.ts
  core/examples/luigi-sample-angular/src/assets/sampleconfig.js
  core/package-lock.json
  core/src/LeftNav.html
  core/src/TopNav.html
  core/src/services/navigation.js
  core/src/services/routing.js
  docs/navigation-configuration.md
Labels: area/documentation, area/luigi, enhancement

#137 Add autogenerated luigi client api docs
  client/README.md
  client/luigi-client.js
  client/package-lock.json
  client/package.json
  docs/README.md
  docs/lifecycle.md
  docs/link-manager.md
  docs/luigi-client-api.md
  docs/ux-manager.md
  package-lock.json
  package.json
Labels: area/documentation, area/luigi, enhancement

#140 Fix css issues in core and angular example
  core/examples/luigi-sample-angular/angular.json
  core/examples/luigi-sample-angular/src/app/app.component.scss
  core/examples/luigi-sample-angular/src/app/project/modal/modal.component.scss
  core/examples/luigi-sample-angular/src/assets/sampleexternal.html
  core/examples/luigi-sample-angular/src/logout.html
  core/examples/luigi-sample-angular/webpack.config.js
  core/src/App.html
  core/src/Authorization.html
  core/src/Backdrop.html
Labels: area/luigi, bug

#135 Improve basic configuration and documentation
  client/luigi-client.js
  core/examples/luigi-sample-angular/README.md
  core/examples/luigi-sample-angular/src/assets/basicConfiguration.js
  core/examples/luigi-sample-angular/src/assets/basicexternal.html
  core/examples/luigi-sample-angular/src/assets/extendedConfiguration.js
  core/examples/luigi-sample-angular/src/index.html
  core/src/services/navigation.js
Labels: area/documentation, area/luigi, enhancement

#148 Copy template for security issues
  .github/ISSUE_TEMPLATE/security-vulnerability.md
Labels: area/documentation, area/security, enhancement, sig/core

#145 Update CODEOWNERS
  CODEOWNERS
Labels: area/luigi

#161 Fix small docu bugs
  CHANGELOG.md
  README.md
  client/luigi-client.js
  core/examples/luigi-sample-angular/README.md
  core/examples/luigi-sample-angular/src/app/overview/overview.component.ts
  core/examples/luigi-sample-angular/src/app/project/default-child/dps1/child-node-1.component.html
  core/examples/luigi-sample-angular/src/app/project/default-child/dps2/child-node-2.component.html
  core/examples/luigi-sample-angular/src/app/project/dynamic/dynamic.component.ts
  core/examples/luigi-sample-angular/src/app/project/users/groups/group-details/group-details.component.html
  core/examples/luigi-sample-angular/src/app/project/users/groups/group-details/group-details.component.ts
  core/examples/luigi-sample-angular/src/assets/extendedConfiguration.js
  core/examples/luigi-sample-angular/src/assets/sampleexternal.html
  core/src/services/navigation.js
  docs/README.md
  docs/application-setup.md
  docs/luigi-client-api.md
  docs/navigation-configuration.md
  docs/router-configuration.md
Labels: area/documentation, area/luigi

#154 Small refactorings
  client/luigi-client.js
  core/examples/luigi-sample-angular/src/app/app.component.ts
  core/src/App.html
  core/src/services/navigation.js
  core/src/services/routing.js
  core/test/routing.spec.js
Labels: area/luigi

#168 Fix bug for closest parent navigation on Luigi Client
  client/luigi-client.js
Labels: area/luigi, bug

#172 Pre commit test prefix cleanup
  core/examples/luigi-sample-angular/src/app/app.component.ts
  package.json
  scripts/prefix-patterns.txt
  scripts/remove-test-prefixes.sh
Labels: area/luigi

#176 Update and improve the content of the installation guide
  core/examples/luigi-sample-angular/README.md
Labels: area/documentation, area/luigi

#169 Enable Luigi Client (microfrontend) to check whether a path exists in main app
  client/luigi-client.js
  core/examples/luigi-sample-angular/e2e/tests/luigi-client-features.spec.js
  core/examples/luigi-sample-angular/e2e/tests/navigation.spec.js
  core/examples/luigi-sample-angular/src/app/project/project.component.html
  core/examples/luigi-sample-angular/src/app/project/project.component.scss
  core/examples/luigi-sample-angular/src/app/project/project.component.ts
  core/src/App.html
  core/src/services/routing.js
  core/src/utilities/helpers.js
Labels: area/luigi, enhancement

#138 Add details about navigation nodes and reading node parameters
  docs/assets/navigation-structure.png
  docs/navigation-configuration.md
Labels: area/documentation
