Repository luigi-project/luigi, pull requests merged in 2018-12, with the labels that each got.

#262 Add improvements to Luigi Client API comments and annotations
  client/luigi-client.js
Labels: area/documentation, area/luigi

#259 Nav collapsed feature
  core/examples/luigi-sample-angular/e2e/tests/navigation.spec.js
  core/examples/luigi-sample-angular/src/app/app-routing.module.ts
  core/examples/luigi-sample-angular/src/app/app.component.scss
  core/examples/luigi-sample-angular/src/app/app.module.ts
  core/examples/luigi-sample-angular/src/app/project/hideSideNav/hideSideNav.component.html
  core/examples/luigi-sample-angular/src/app/project/hideSideNav/hideSideNav.component.ts
  core/examples/luigi-sample-angular/src/assets/extendedConfiguration.js
  core/src/App.html
  core/src/services/routing.js
  core/test/services/routing.spec.js
  docs/navigation-configuration.md
Labels: area/luigi, enhancement

#253 Allow async defaultChildNode
  core/src/services/routing.js
  core/test/services/routing.spec.js
Labels: area/luigi, bug

#272 Update stale.yml with new stale label
  .github/stale.yml
Labels: area/community

#226 Add check if modules are same domain
  core/src/services/routing.js
  core/test/services/routing.spec.js
  docs/navigation-configuration.md
Labels: area/luigi, bug

#283 Default child node mechanism breaks if path ends with a slash
  core/src/services/routing.js
Labels: area/luigi, bug

#288 Add possibility to use pathRouting with angular-cli
  core/examples/luigi-sample-angular/README.md
  core/examples/luigi-sample-angular/angular.json
  core/examples/luigi-sample-angular/e2e/support/commands.js
  core/examples/luigi-sample-angular/e2e/tests/context-switcher.spec.js
  core/examples/luigi-sample-angular/e2e/tests/luigi-client-features.spec.js
  core/examples/luigi-sample-angular/e2e/tests/navigation.spec.js
  core/examples/luigi-sample-angular/package-lock.json
  core/examples/luigi-sample-angular/package.json
  core/examples/luigi-sample-angular/src/assets/basicConfiguration.js
  core/examples/luigi-sample-angular/src/assets/extendedConfiguration.js
  core/examples/luigi-sample-angular/webpack-extra.config.js
  core/examples/luigi-sample-angular/webpack.config.js
  core/src/navigation/LogoTitle.html
  core/src/services/routing.js
  docs/navigation-configuration.md
Labels: area/luigi, enhancement

#252 Unsaved changes modal
  client/luigi-client.js
  core/examples/luigi-sample-angular/e2e/tests/luigi-client-features.spec.js
  core/examples/luigi-sample-angular/src/app/overview/overview.component.html
  core/examples/luigi-sample-angular/src/app/overview/overview.component.ts
  core/src/App.html
  core/src/Authorization.html
  core/src/ConfirmationModal.html
  core/src/navigation/ContextSwitcher.html
  core/src/navigation/LeftNav.html
  core/src/navigation/LogoTitle.html
  core/src/navigation/TopNav.html
  core/src/services/routing.js
  core/src/utilities/helpers/generic-helpers.js
  core/test/services/routing.spec.js
  docs/luigi-client-api.md
Labels: area/luigi, enhancement

#299 It is not possible to have a root node with empty path segment and a view
  core/src/navigation/services/navigation.js
  core/src/utilities/helpers/generic-helpers.js
Labels: area/luigi, bug

#305 When adding a listener via Luigi client API, call only the listener being added
  client/luigi-client.js
Labels: area/luigi, bug

#307 Fix error with parsed data
  client/luigi-client.js
Labels: area/luigi, bug
