Repository luigi-project/luigi, pull requests merged in 2018-11, with the labels that each got.

#177 Allow multiple init and update listeners
  client/luigi-client.js
  core/examples/luigi-sample-angular/src/app/project/dynamic/dynamic.component.ts
  core/examples/luigi-sample-angular/src/app/project/project.component.ts
  core/examples/luigi-sample-angular/src/app/project/settings/settings.component.ts
  core/examples/luigi-sample-angular/src/app/project/users/groups/group-details/group-details.component.ts
  core/examples/luigi-sample-angular/src/app/project/users/groups/group-details/group-settings/group-settings.component.ts
Labels: area/luigi, bug

#160 Configurable logo and title
  core/examples/luigi-sample-angular/angular.json
  core/examples/luigi-sample-angular/src/app/project/default-child/dps2/child-node-2.component.html
  core/examples/luigi-sample-angular/src/assets/extendedConfiguration.js
  core/examples/luigi-sample-angular/src/assets/favicon-sap.ico
  core/examples/luigi-sample-angular/src/favicon.ico
  core/examples/luigi-sample-angular/src/index.html
  core/src/App.html
  core/src/navigation/LeftNav.html
  core/src/navigation/LogoTitle.html
  core/src/navigation/TopNav.html
  core/src/navigation/services/header.js
  core/src/navigation/services/navigation.js
  core/src/services/routing.js
  core/test/header.spec.js
  core/test/navigation.spec.js
  docs/general-settings.md
Labels: area/luigi, enhancement

#196 Fix for goBack when not using micro-frontend without routing
  client/luigi-client.js
  core/src/App.html
Labels: area/luigi, bug

#199 Add missing line and improve wording
  docs/navigation-configuration.md
Labels: area/documentation

#155 Describe get path params and get node params better
  README.md
  client/luigi-client.js
  docs/README.md
  docs/luigi-client-api.md
Labels: area/documentation, area/luigi

#180 Token refresh
  client/luigi-client.js
  core/examples/luigi-sample-angular/package-lock.json
  core/examples/luigi-sample-angular/src/app/app.component.ts
  core/examples/luigi-sample-angular/src/assets/extendedConfiguration.js
  core/package-lock.json
  core/public/auth/oauth2/callback.html
  core/public/auth/oidc/silent-callback.html
  core/src/App.html
  core/src/Authorization.html
  core/src/providers/auth/libraryLoaders.js
  core/src/providers/auth/oAuth2ImplicitGrant.js
  core/src/providers/auth/openIdConnect.js
  core/src/static.css
  core/src/utilities/auth-helpers.js
  core/src/utilities/third-party-cookies-check.js
  core/third-party-cookies/complete.html
  core/third-party-cookies/init.html
  core/webpack.config.js
  docs/authorization-configuration.md
Labels: area/documentation, area/luigi, enhancement

#200 Align luigi header title with fundamental style
  core/src/navigation/LogoTitle.html
  core/src/navigation/TopNav.html
Labels: area/luigi, enhancement

#206 Center the logo
  core/src/navigation/LogoTitle.html
  core/src/navigation/services/header.js
Labels: area/luigi, bug

#187 Luigi core config refactorings
  core/examples/luigi-sample-angular/cypress.json
  core/src/App.html
  core/src/Authorization.html
  core/src/Backdrop.html
  core/src/main.js
  core/src/navigation/LeftNav.html
  core/src/navigation/LogoTitle.html
  core/src/navigation/TopNav.html
  core/src/navigation/services/header.js
  core/src/navigation/services/navigation.js
  core/src/services/config.js
  core/src/services/routing.js
  core/src/utilities/async-helpers.js
  core/src/utilities/helpers.js
  core/test/config.spec.js
  core/test/navigation.spec.js
  core/test/routing.spec.js
  docs/navigation-configuration.md
Labels: area/luigi, enhancement

#212 Fix failing unit tests
  core/test/header.spec.js
Labels: area/luigi, bug

#211 Multiple path parameters do not get replaced in view url
  core/package-lock.json
  core/src/services/routing.js
  core/test/routing.spec.js
Labels: bug

#215 mock auth logout page fix
  core/src/providers/auth/oAuth2ImplicitGrant.js
Labels: area/luigi, bug

#202 Fix go-back-button bug
  client/luigi-client.js
  core/src/App.html
Labels: area/luigi, bug

#220 Enable pre push script
  client/package.json
  core/package-lock.json
  core/package.json
  package.json
Labels: area/luigi

#222 Login fix
  core/src/Authorization.html
  core/src/navigation/TopNav.html
  core/src/navigation/services/navigation.js
  core/src/services/config.js
Labels: area/luigi, bug

#162 404 support for non existing paths
  core/examples/luigi-sample-angular/e2e/tests/luigi-client-features.spec.js
  core/examples/luigi-sample-angular/src/app/project/project.component.html
  core/package.json
  core/src/App.html
  core/src/services/routing.js
  core/src/utilities/helpers.js
  core/test/services/config.spec.js
  core/test/services/navigation.spec.js
  core/test/services/routing.spec.js
  core/test/utilities/helpers.spec.js
Labels: area/luigi, enhancement

#209 Support navigation nodes that just link to other nodes
  core/examples/luigi-sample-angular/e2e/tests/navigation.spec.js
  core/examples/luigi-sample-angular/src/app/overview/overview.component.ts
  core/examples/luigi-sample-angular/src/assets/extendedConfiguration.js
  core/src/services/routing.js
  core/test/header.spec.js
  core/test/services/routing.spec.js
  docs/navigation-configuration.md
Labels: area/luigi, enhancement

#219 remove karma
  core/examples/luigi-sample-angular/karma.conf.js
  core/examples/luigi-sample-angular/package-lock.json
  core/examples/luigi-sample-angular/package.json
  core/examples/luigi-sample-angular/src/app/app.component.spec.ts
  core/examples/luigi-sample-angular/src/app/overview/overview.component.spec.ts
  core/examples/luigi-sample-angular/src/app/project/code-snippet/code-snippet.component.spec.ts
  core/examples/luigi-sample-angular/src/app/project/developers/developers.component.spec.ts
  core/examples/luigi-sample-angular/src/app/project/dynamic/dynamic.component.spec.ts
  core/examples/luigi-sample-angular/src/app/project/miscellaneous/miscellaneous.component.spec.ts
  core/examples/luigi-sample-angular/src/app/project/miscellaneous2/miscellaneous2.component.spec.ts
  core/examples/luigi-sample-angular/src/app/project/modal/modal.component.spec.ts
  core/examples/luigi-sample-angular/src/app/project/navigation/navigation.component.spec.ts
  core/examples/luigi-sample-angular/src/app/project/project.component.spec.ts
  core/examples/luigi-sample-angular/src/app/project/settings/settings.component.spec.ts
  core/examples/luigi-sample-angular/src/app/project/users/groups/group-details/group-details.component.spec.ts
  core/examples/luigi-sample-angular/src/app/project/users/groups/group-details/group-settings/group-settings.component.spec.ts
  core/examples/luigi-sample-angular/src/app/project/users/groups/groups.component.spec.ts
  core/examples/luigi-sample-angular/src/app/project/users/users.component.spec.ts
  core/examples/luigi-sample-angular/src/app/project/users/usersoverview/usersoverview.component.spec.ts
  core/examples/luigi-sample-angular/src/app/restricted/restricted.component.spec.ts
  core/examples/luigi-sample-angular/src/test.ts
  core/examples/luigi-sample-angular/src/tsconfig.app.json
  core/examples/luigi-sample-angular/src/tsconfig.spec.json
Labels: area/luigi

#190 Context Switcher in top navigation
  .gitignore
  core/.gitignore
  core/examples/luigi-sample-angular/e2e/tests/context-switcher.spec.js
  core/examples/luigi-sample-angular/e2e/tests/luigi-client-features.spec.js
  core/examples/luigi-sample-angular/src/app/app-routing.module.ts
  core/examples/luigi-sample-angular/src/app/project/dynamic/dynamic.component.ts
  core/examples/luigi-sample-angular/src/assets/extendedConfiguration.js
  core/package-lock.json
  core/package.json
  core/public/package-lock.json
  core/src/App.html
  core/src/Authorization.html
  core/src/Backdrop.html
  core/src/auth/oauth2/callback.html
  core/src/auth/oidc/silent-callback.html
  core/src/navigation/ContextSwitcher.html
  core/src/navigation/LeftNav.html
  core/src/navigation/TopNav.html
  core/src/navigation/services/context-switcher.js
  core/src/services/routing.js
  core/src/static.css
  core/src/utilities/helpers.js
  core/test/context-switcher.spec.js
  core/webpack.config.js
  docs/navigation-configuration.md
Labels: area/documentation, area/luigi, enhancement

#186 update changelog incl. 0.3.7 version
  CHANGELOG.md
Labels: area/luigi

#197 Improve luigi-client js docs
  client/luigi-client.js
  docs/luigi-client-api.md
Labels: area/documentation, area/luigi

#234 Add logout.html to webpack config
  core/examples/luigi-sample-angular/webpack.config.js
Labels: area/luigi, bug

#235 Issues with path routing
  core/examples/luigi-sample-angular/e2e/tests/navigation.spec.js
  core/src/navigation/ContextSwitcher.html
  core/src/navigation/services/context-switcher.js
  core/src/services/routing.js
  core/src/utilities/helpers.js
Labels: area/luigi, bug

#242 Remove bundlesize check from prepush hook
  core/package.json
Labels: area/luigi

#240 Improve luigi client docu and generate new
  client/luigi-client.js
  docs/luigi-client-api.md
Labels: area/documentation, area/luigi

#241 Include v0.3.8 in changelog
  CHANGELOG.md
Labels: area/documentation, area/luigi

#238 viewUrl should not be mandatory in dynamic node
  core/examples/luigi-sample-angular/src/app/app.component.ts
  core/src/navigation/services/navigation.js
Labels: area/luigi, bug

#251 Improvements for dex auth
  core/examples/luigi-sample-angular/src/assets/extendedConfiguration.js
  core/examples/luigi-sample-angular/src/logout.html
  core/src/App.html
  core/src/Backdrop.html
  core/src/navigation/ContextSwitcher.html
  core/src/navigation/LeftNav.html
  core/src/navigation/TopNav.html
  core/src/navigation/services/context-switcher.js
  core/src/navigation/services/navigation.js
  core/src/providers/auth/openIdConnect.js
  core/src/services/routing.js
  docs/navigation-configuration.md
Labels: area/documentation, area/luigi

#250 preserveView should allow viewUrls with query params
  core/examples/luigi-sample-angular/src/app/project/dynamic/dynamic.component.html
  core/examples/luigi-sample-angular/src/app/project/dynamic/dynamic.component.ts
  core/examples/luigi-sample-angular/src/app/project/project.component.html
  core/examples/luigi-sample-angular/src/app/project/settings/settings.component.html
  core/examples/luigi-sample-angular/src/app/project/settings/settings.component.ts
  core/src/App.html
Labels: area/luigi, bug

#255 Set .fd-alert word wrap rule
  core/src/App.html
Labels: area/luigi
