Repository luigi-project/luigi, pull requests merged in 2019-04, with the labels that each got.

#448 Escape some html characters for alert component
  core/examples/luigi-sample-angular/e2e/tests/luigi-client-ux-manager-features.spec.js
  core/src/Alert.html
  core/src/navigation/services/navigation.js
  core/src/utilities/helpers/escaping-helpers.js
  core/src/utilities/helpers/routing-helpers.js
Labels: area/luigi

#438 Improve login error behavior
  core/examples/luigi-sample-angular/src/logout.html
  core/src/App.html
  core/src/navigation/LeftNav.html
  core/src/providers/auth/openIdConnect.js
Labels: area/luigi

#446 Modal mfs
  client/luigi-client.d.ts
  client/src/luigi-client.js
  core/examples/luigi-sample-angular/package-lock.json
  core/examples/luigi-sample-angular/src/app/project/project.component.html
  core/package-lock.json
  core/src/App.html
  core/src/Modal.html
Labels: area/luigi

#459 display labels in mobile top header menu, vertical alignment for labe…
  core/src/navigation/TopNav.html
Labels: area/luigi

#454 docu for modal microfrontends
  client/luigi-client.d.ts
  client/src/luigi-client.js
  docs/luigi-client-api.md
Labels: area/documentation, area/luigi

#466 Improve typescript declaration file for Luigi Client
  client/luigi-client.d.ts
  client/package.json
Labels: area/luigi, bug

#451 Prevent unlogged rendering
  core/src/Authorization.html
  core/src/navigation/TopNav.html
Labels: area/luigi, enhancement

#460 Modal mfs e2e tests
  core/examples/luigi-sample-angular/e2e/tests/modal-microfrontend.spec.js
  core/src/Modal.html
Labels: area/luigi, enhancement

#468 Check origin of postmessage
  core/examples/luigi-sample-angular/e2e/tests/luigi-client-link-manager-features.spec.js
  core/examples/luigi-sample-angular/src/app/project/project.component.html
  core/examples/luigi-sample-angular/src/app/project/project.component.ts
  core/src/App.html
  core/src/Backdrop.html
  core/src/Modal.html
  core/src/navigation/ContextSwitcher.html
  core/src/services/iframe.js
  core/src/utilities/helpers/iframe-helpers.js
  core/test/services/iframe.spec.js
  core/test/services/routing.spec.js
Labels: area/console, area/luigi, area/security, security/medium

#470 456 improve docu for function parameters
  client/src/luigi-client.js
  docs/luigi-client-api.md
Labels: area/documentation, area/luigi

#476 remove unnecessary styles
  core/examples/luigi-sample-angular/src/styles.css
Labels: area/luigi, enhancement

#482 fix linter errors
  core/examples/luigi-sample-angular/src/app/app-routing.module.ts
  core/examples/luigi-sample-angular/src/app/app.component.ts
  core/examples/luigi-sample-angular/src/app/app.module.ts
  core/examples/luigi-sample-angular/src/app/overview/overview.component.ts
  core/examples/luigi-sample-angular/src/app/project/dynamic/dynamic.component.ts
  core/examples/luigi-sample-angular/src/app/project/hide-side-nav/hide-side-nav.component.html
  core/examples/luigi-sample-angular/src/app/project/hide-side-nav/hide-side-nav.component.ts
  core/examples/luigi-sample-angular/src/app/project/project.component.html
  core/examples/luigi-sample-angular/src/app/project/project.component.ts
  core/examples/luigi-sample-angular/src/app/project/users/groups/groups.component.ts
Labels: area/luigi, bug

#483 add a shadow to the side navigation
  core/src/navigation/LeftNav.html
Labels: area/luigi

#479 Luigi version bump in sample app
  core/examples/luigi-sample-angular/package-lock.json
  core/examples/luigi-sample-angular/package.json
Labels: area/luigi

#475 Document responsive navigation setting
  core/examples/luigi-sample-angular/src/luigi-config/extended/helpers.js
  core/examples/luigi-sample-angular/src/luigi-config/extended/settings.js
  core/src/App.html
  docs/general-settings.md
Labels: area/documentation, area/luigi

#484 Display userinfo
  core/examples/luigi-sample-angular/e2e/tests/login-flow.spec.js
  core/examples/luigi-sample-angular/package-lock.json
  core/examples/luigi-sample-angular/package.json
  core/examples/luigi-sample-angular/src/assets/auth-mock/login-mock.html
  core/examples/luigi-sample-angular/src/luigi-config/extended/auth.js
  core/package-lock.json
  core/src/Authorization.html
  core/src/providers/auth/oAuth2ImplicitGrant.js
  docs/authorization-configuration.md
  package-lock.json
Labels: area/luigi, enhancement

#480 Alert improvements
  .travis.yml
  client/luigi-client.d.ts
  client/src/luigi-client.js
  core/examples/luigi-sample-angular/e2e/tests/luigi-client-ux-manager-features.spec.js
  core/examples/luigi-sample-angular/package.json
  core/examples/luigi-sample-angular/src/app/project/project.component.html
  core/examples/luigi-sample-angular/src/app/project/project.component.ts
  core/src/Alerts.html
  core/src/App.html
  core/src/services/routing.js
  docs/luigi-client-api.md
Labels: area/luigi, enhancement

#478 Changelog for v0.4.11 release
  CHANGELOG.md
Labels: area/luigi

#493 Make profile dropdown extensible
  core/.babelrc
  core/examples/luigi-sample-angular/e2e/tests/login-flow.spec.js
  core/examples/luigi-sample-angular/src/app/project/code-snippet/code-snippet.component.scss
  core/examples/luigi-sample-angular/src/logout.html
  core/examples/luigi-sample-angular/src/luigi-config/extended/navigation.js
  core/package-lock.json
  core/package.json
  core/src/Authorization.html
  core/src/navigation/ContextSwitcher.html
  core/src/navigation/ProductSwitcher.html
  core/src/navigation/TopNav.html
  core/src/services/routing.js
  core/src/utilities/luigi-config-defaults.js
  core/test/services/routing.spec.js
  docs/navigation-parameters-reference.md
Labels: area/luigi, enhancement

#498 Update units test dependencies for luigi core
  core/.gitignore
  core/package-lock.json
  core/package.json
  core/src/navigation/ContextSwitcher.html
  core/src/services/routing.js
  core/test/services/routing.spec.js
Labels: area/luigi, enhancement
