Repository luigi-project/luigi, pull requests merged in 2024-11, with the labels that each got.

#4019 Improves jsdocs for events
  container/src/constants/communication.ts
  container/typings/constants/events.d.ts
Labels: documentation, container

#3886 Generation of custom-element manifest
  client/src/linkManager.js
  client/src/uxManager.js
  container/cypress/e2e/test-app/compound/wc-compound-container.cy.js
  container/cypress/e2e/test-app/iframe/iframe-container.cy.js
  container/cypress/e2e/test-app/iframe/iframe-cookies.cy.js
  container/cypress/e2e/test-app/iframe/iframe-settings.cy.js
  container/cypress/e2e/test-app/wc/wc-container.cy.js
  container/generateCEM.js
  container/package-lock.json
  container/package.json
  container/public/LuigiCompoundContainer.js
  container/public/LuigiContainer.js
  container/public/dist/custom-elements.json
  container/src/LuigiCompoundContainer.svelte
  container/test-app/compound/helloWorldWC.js
  container/test-app/iframe/iframe-cookies.html
  container/test-app/iframe/iframe-settings.html
  container/test-app/iframe/iframeContainer.html
  container/test-app/iframe/microfrontend-luigi-client-init.html
  container/test-app/iframe/microfrontend.html
  container/test-app/index.html
  container/test-app/wc/clientAPI.html
  container/test-app/wc/helloWorldWC.js
  container/test/services/container.service.spec.ts
  container/typings/LuigiContainer.svelte.d.ts
  core/src/core-api/config.js
  core/src/main.js
  core/src/services/routing.js
  core/src/utilities/helpers/navigation-helpers.js
  core/src/utilities/helpers/routing-helpers.js
  core/test/core-api/config.spec.js
  core/test/utilities/helpers/navigation-helpers.spec.js
  core/third-party-cookies/init.html
  docs/luigi-container-api.md
  scripts/tools/publish-nightly.js
  scripts/tools/release-cli/release-cli.js
  test/e2e-test-application/cypress/e2e/tests/1-angular/login-flow-nav-dropdown.cy.js
  test/e2e-test-application/src/logout.html
  website/docs/src/app.html
  website/docs/src/luigi-config/extended/resultRender.js
  website/docs/svelte.config.js
  website/fiddle/webpack.config.js
  website/landingpage/dev/src/assets/js/app.js
Labels: enhancement, container

#4021 Add container tests show alert go back update top nav
  container/cypress/e2e/test-app/compound/wc-compound-container.cy.js
  container/cypress/e2e/test-app/iframe/iframe-container.cy.js
  container/cypress/e2e/test-app/wc/wc-container.cy.js
  container/test-app/compound/compoundClientAPI.html
  container/test-app/compound/helloWorldWC.js
  container/test-app/iframe/iframeContainer.html
  container/test-app/iframe/microfrontend.html
  container/test-app/wc/clientAPI.html
  container/test-app/wc/helloWorldWC.js
Labels: internal, container

#4031 Adds possibility to change route/viewUrl in iframe based mfe
  container/cypress/e2e/test-app/iframe/iframe-container.cy.js
  container/src/LuigiContainer.svelte
  container/src/api/container-api.ts
  container/test-app/iframe/iframeContainer.html
  container/test-app/iframe/microfrontend.html
  container/test/api/container-api.spec.ts
Labels: enhancement, container, ora
