Repository luigi-project/luigi, pull requests merged in 2024-09, with the labels that each got.

#3940 Prettifying - Adds property sorting in luigi container
  container/src/LuigiCompoundContainer.svelte
  container/src/LuigiContainer.svelte
Labels: refactoring

#3934 Adds node params to compound container typings
  container/typings/LuigiCompoundContainer.svelte.d.ts
  container/typings/LuigiContainer.svelte.d.ts
  docs/luigi-compound-container-api.md
  docs/luigi-container-api.md
Labels: container

#3936 Adds theme property for compound container
  container/cypress/e2e/test-app/compound/wc-compound-container.cy.js
  container/src/LuigiCompoundContainer.svelte
  container/test-app/compound/compoundClientAPI.html
  container/test-app/compound/helloWorldWC.js
  container/typings/LuigiCompoundContainer.svelte.d.ts
  docs/luigi-compound-container-api.md
Labels: container

#3937 Adds activeFeatureToggleList property to LuigiCompoundContainer
  container/cypress/e2e/test-app/compound/wc-compound-container.cy.js
  container/src/LuigiCompoundContainer.svelte
  container/test-app/compound/compoundClientAPI.html
  container/test-app/compound/helloWorldWC.js
  container/typings/LuigiCompoundContainer.svelte.d.ts
  docs/luigi-compound-container-api.md
Labels: container

#3949 pkce for fiddle
  website/fiddle/package-lock.json
  website/fiddle/package.json
  website/fiddle/webpack.config.js
Labels: internal

#3941 Improves compatibility tests
  scripts/testCompatibility.sh
Labels: CI/CD

#3923 HTML custom data support for Luigi(Compound)Container in VS Code
  container/public/vscode.html-custom-data.json
  docs/luigi-container.md
Labels: enhancement, container

#3920 Make clientAPI label distinguishable
  client/src/lifecycleManager.js
  client/src/linkManager.js
  client/src/storageManager.js
  client/src/uxManager.js
  docs/luigi-client-api.md
  website/docs/src/app.html
Labels: documentation

#3935 Add locale prop to Compound Container
  container/cypress/e2e/test-app/compound/wc-compound-container.cy.js
  container/src/LuigiCompoundContainer.svelte
  container/test-app/compound/compoundClientAPI.html
  container/test-app/compound/helloWorldWC.js
  container/typings/LuigiCompoundContainer.svelte.d.ts
  docs/luigi-compound-container-api.md
Labels: container
