Repository luigi-project/luigi, pull requests merged in 2025-04, with the labels that each got.

#4226 Fix cem
  container/generateCEM.js
  container/public/dist/custom-elements.json
Labels: container

#4228 Container: updateModalSettings for wc client
  .github/workflows/test.yml
  container/cypress/e2e/test-app/wc/wc-container.cy.js
  container/src/services/webcomponents.service.ts
  container/test-app/iframe/microfrontend.html
  container/test-app/wc/clientAPI.html
  container/test-app/wc/helloWorldWC.js
  container/test/services/webcomponents.service.spec.ts
Labels: enhancement, container, ora

#4245 Mend (Whitesource) Scan workflow
  .github/workflows/mend.yml
Labels: internal

#4250 Adds update job for workflows
  .github/workflows/mend.yml
  .github/workflows/test.yml
  .github/workflows/update-deps/action.yml
Labels: internal
