Repository luigi-project/luigi, pull requests merged in 2025-01, with the labels that each got.

#4104 remove updateTopNavigation from test app
  container/test-app/iframe/microfrontend.html
Labels: internal

#4106 dismissKey optional in closeAlert
  container/src/LuigiContainer.svelte
  container/src/api/container-api.ts
  container/src/services/container.service.ts
  container/test/api/container-api.spec.ts
  container/typings/LuigiContainer.svelte.d.ts
  docs/luigi-container-api.md
  docs/luigi-element-api.md
Labels: bug, container, ora

#4115 showAlert promise for webcomponents
  container/cypress/e2e/test-app/wc/wc-container.cy.js
  container/src/LuigiContainer.svelte
  container/src/services/webcomponents.service.ts
  container/test-app/wc/clientAPI.html
  container/test-app/wc/helloWorldWC.js
  container/test/services/webcomponents.service.spec.ts
Labels: enhancement, container, ora

#4128 add navheader data to navheader renderer
  core/src/navigation/LeftNav.svelte
Labels: enhancement, dxp, ora
