Repository luigi-project/luigi, pull requests merged in 2025-09, with the labels that each got.

#4473 container fix: theme, locale and featureToggleList for iframes
  container/cypress/e2e/test-app/iframe/iframe-container.cy.js
  container/src/LuigiContainer.svelte
  container/src/services/container.service.ts
  container/test-app/iframe/iframeContainer.html
  container/test-app/iframe/microfrontend.html
  container/test/services/container.service.spec.ts
Labels: bug, container

#4496 Checkmarx issue in core modular
  core-modular/src/modules/routing-module.ts
Labels: security/medium

#4491 Bundling issues in client support angular
  client-frameworks-support/client-support-angular/package-lock.json
  client-frameworks-support/client-support-angular/package.json
  client-frameworks-support/client-support-angular/projects/client-support-angular/src/lib/service/luigi-auto-routing.service.ts
  client-frameworks-support/client-support-angular/tsconfig.json
Labels: client-support-lib-angular

#4493 Fix vega category subitem space
  core/src/navigation/LeftNav.svelte
Labels: bug

#4502 Checkmarx unsafe use of target blank
  core-modular/src/modules/routing-module.ts
Labels: security/medium

#4506 headless/theming
  core-modular/src/core-api/luigi.ts
  core-modular/src/core-api/theming.ts
  core-modular/src/luigi-engine.ts
  core-modular/src/modules/ui-module.ts
  core-modular/src/services/viewurl-decorator.ts
  core-modular/test/services/viewurl-decorator.spec.ts
Labels: headless-core

#4484 Node data management service
  core-modular/src/luigi-engine.ts
  core-modular/src/services/node-data-management.service.ts
  core-modular/test/services/node-data-management.spec.ts
Labels: headless-core
